---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import CompanyVideo from "../components/CompanyVideo.astro";
import VisionMission from "../components/VisionMission.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import TrustReason from "../components/TrustReason.astro";
import WorkProcess from "../components/WorkProcess.astro";
import TrustFeatures from "../components/TrustFeatures.astro";
import Subsidiaries from "../components/Subsidiaries.astro";
import Client from "../components/Client.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dharma Putra Sejahtera Abadi | Interior Design & Build">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Subsidiaries />
    <CompanyVideo />
    <!-- VisionMission is integrated into About now -->
    <WorkProcess />
    <ProductShowcase />
    <!-- Renamed conceptually to Projects -->
    <Client />
  </main>
  <Footer />
</Layout>
